{% extends 'base.html.twig' %}

{% block title %}Hello UserBackController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 3%; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    th{ padding-right: 15px; }
    td{ padding-right: 15px; }
    label{margin-right: 15px; }
</style>

<div class="example-wrapper">
    <h1>Add UserType</h1>
    
    {{ form_start(form, { 'attr' : { 'class': 'form-horizontal  new-form' } }) }}

    {{ form_widget(form) }}

    {{ form_row(form.submit) }}

    {{ form_end(form) }}

</div>
{% endblock %}
